Elements/Libs/ZenCoreCLR/bin
Elements/UnmanagedElements/ZenCsScriptWrapper/bin
ZenCommon/
ZenEngine/
ZenComputingEngine.code-workspace
Elements/UnmanagedElements/ZenCounter/bin
Elements/UnmanagedElements/ZenDebugWrapper/bin
Elements/UnmanagedElements/ZenElementsExecuterWrapper/bin
