Libs/ZenCoreCLR/bin
Elements/ZenCsScriptWrapper/bin
ZenComputingEngine.code-workspace
Elements/ZenCounter/bin
Elements/ZenDebugWrapper/bin
Elements/ZenElementsExecuterWrapper/bin
Elements/ZenSleep/bin
Elements/ZenStart/bin
ZenCommon/bin
ZenEngine/bin
ZenEngine/project
ZenEngine/tmp
ZenCommon/Compile.txt
Elements/ZenLicenceCheckerWrapper/bin
